<div class="row animated fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <input #txtSearch (keyup)="searchUser( txtSearch.value )" type="text" class="form-control" placeholder="Buscar usuario">
            </div>
        </div>
    </div>
</div>

<div *ngIf="loading" class="row animated fadeIn">
    <div class="col-md-12">
        <div class="alert alert-info text-center">
            <i class="fa fa-spin fa-refresh"></i>
            <p>Cargando...</p>
        </div>
    </div>
</div>

<div *ngIf="!loading" class="row animated fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h3>Usuarios registrados<small> ( {{ total }} ) </small></h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Email</th>
                            <th>Nombre</th>
                            <th>Rol</th>
                            <th>Auth</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>
                                <img (click)="updateUserImage( user._id )" [src]="user.image | image: token" width="60">
                            </td>
                            <td>{{ user.email }}</td>
                            <td>
                                <span><i class="fa fa-user"></i></span>&nbsp;{{ user.name }}&nbsp;
                                <span *ngIf="user.role == 'ADMIN_ROLE'"><i class="fa fa-shield"></i></span>
                            </td>
                            <td>
                                <select [(ngModel)]="user.role" name="role" class="form-control">
                                    <option vlaue="ADMIN_ROLE">ADMIN_ROLE</option>
                                    <option vlaue="USER_ROLE">USER_ROLE</option>
                                </select>
                            </td>
                            <td>
                                <span *ngIf="user.google"><i class="fa fa-google-plus"></i></span>
                            </td>
                            <td class="text-center">
                                <button (click)="updateUser( user )" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                </button>
                            </td>
                            <td class="text-center">
                                <button (click)="confirmDeleteUser( user )" class="btn btn-danger">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7" class="text-right">
                                <span>Usuarios {{ from }} - {{ to }} de {{ total }}</span>&nbsp;
                                <button (click)="goTo( page - 1 )" [disabled]="page <= 1" class="btn btn-outline-secondary">
                                    <i class="fa fa-angle-left"></i>
                                </button>&nbsp;
                                <span>Página {{ page }}</span>&nbsp;
                                <button (click)="goTo( page + 1 )" [disabled]="isLastPage" class="btn btn-outline-secondary">
                                    <i class="fa fa-angle-right"></i>
                                </button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>